{% extends "layout.html"%}
{% block main %}
        <div class="schedules">
            <div  class="schedules__wrapper container-90">
                <h1 class="bold cogi-color" >Schedule</h1 class="bold">
                <iframe  src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR7csNymPJC69EiOlhszmVgLWHl1rems335cgtZTvcS-VKHT0PT5NEgfL29oHZGtmHiBsRuTHp94g-K/pubhtml?widget=true&amp;headers=false"></iframe >
                <p>Having issues in viewing? <a href="">OPEN</a> in sheets</p>        
            </div>
        </div>
{% endblock main %}   
   